attrs>=18.2.0
coverage
crosscap>=0.4
future>=0.17.1
jinja2>=2.10,<2.11
mock>=2.0.0,<2.1.0
pytest-cov
pytest-flakes
pytest-twisted
python-dateutil==2.4.0
pytz>=2015.4
pyyaml>=3.13,<3.14
tox
twine
twisted>=18.9.0
wrapt
